div{
    height:60px;
    width:60px;
    margin:10px;
    padding:0px;
}
body{
    background-color:white;
    border: solid 8px black;

}

img{
    height:60px;
    width:60px;
}

img.Player{


    display: block;
    position:absolute;
    top:250px;
    left:10px;
    animation-duration:5s;
    animation-name: anim3;
    animation-play-state: paused;
}
div.outer{

    display: block;
    height:600px;
    width: 600px;
}

div.outer:active img.Player{
    animation-play-state:running;
}
img.destination {
    /*background-color: red;*/
    position: absolute;
    top: 250px;
    left: 1200px;
}
img.obstacle1{
    /*background-color:red;*/
    position:absolute;
    top: 10px;
    left:500px;

    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
img.obstacle2{
    /*background-color:red;*/
    position:absolute;
    top: 10px;
    left:700px;
    animation-name: anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes anim {

    15%{
        transform:translateY(100px);
    }
    25%{
        transform:translateY(250px);
    }
    35% {
        transform: translateY(400px);

    }
    50%{
        transform:translateY(550px);
    }
    65%{
        transform:translateY(400px);
    }
    75%{
        transform:translateY(250px);
    }
    85% {
        transform: translateY(100px);

    }
    100%{
        transform:translateY(10px);
    }


}


@keyframes anim3 {
    0% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(400px);
    }

    65% {
        transform: translateX(800px);

    }

    100% {
        transform: translateX(1200px);

    }

}
